.container {
	max-width: 1068px;
	margin: 0 auto;
}

.container::before, .container::after {
	content: '';
	display: table;
	clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6,
 .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12{
 	float: left;
 	display: block;
 	min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
 }

 .grid-1 {
 	width: calc(8.333% - 24px);
 }

  .grid-2 {
 	width: calc(16.666% - 24px);
 }

  .grid-3 {
 	width: calc(25% - 24px);
 }

  .grid-4 {
 	width: 33.33333333%;
}

  .grid-5 {
 	width: calc(41.666% - 24px);
 }

  .grid-6 {
 	width: calc(50% - 20px);
 }

  .grid-7 {
 	width: calc(58.333% - 24px);
 }

  .grid-8 {
 	width: 66.66666667%;
 }

  .grid-9 {
 	width: calc(75% - 24px);
 }

  .grid-10 {
 	width: calc(83.333% - 24px);
 }

  .grid-11 {
 	width: calc(91.666% - 24px);
 }

  .grid-12 {
 	width: 100%;
 }

 @media only screen and (max-width: 768px) {

  .container {
    max-width: 748px;
  }

  .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6,
 .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: none;
  width: 100%;
  }

 }